@model IEnumerable<SuperHeroManager.Models.SuperHero>

@{
    ViewData["Title"] = "View";
}

<div class="text-center">
    <h1 class="display-6">These are a few of my favorite heros!!</h1>
</div>
<table class="table table-secondary text-center">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Universe
            </th>
            <th>
                Alter Ego   
            </th>
            <th>
                Primary Ability
            </th>
            <th>
                Secondary Ability
            </th>
            <th>
                Catch Phrase
            </th>
            <th class="text-center">
                <a type="submit" class="btn btn-outline-info" asp-controller="SuperHero" asp-action="Create">+</a>
            </th>
        </tr>
    </thead>
    <tbody class="table-active text-center">
        @foreach (var superHero in Model)
        {
            <tr >
                <td>
                    @Html.ActionLink(superHero.name.ToString(), "Details", new { id = superHero.SuperHeroId })
                </td>
                <td>
                    @Html.DisplayFor(universe => superHero.universe)
                </td>
                <td>
                    @Html.DisplayFor(alterEgo => superHero.alterEgo)
                </td>
                <td>
                    @Html.DisplayFor(primaryAbility => superHero.primaryAbility)
                </td>
                <td>
                    @Html.DisplayFor(secondaryAbility => superHero.secondaryAbility)
                </td>
                <td>
                    @Html.DisplayFor(catchPhrase => superHero.catchPhrase)
                </td>
                <td >
                    @Html.ActionLink("Edit", "Edit", new {  id = superHero.SuperHeroId }) |
                    @Html.ActionLink("Delete","Delete", new { id = superHero.SuperHeroId })
                </td>
            </tr>
        }
    </tbody>
</table>